---
---
<!DOCTYPE html>
<html>
<head>
	<title>Nova Vita: a New Life for computing</title>
	<link rel="stylesheet" href="assets/index.css">
	<link rel="icon" href="assets/images/favicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A new life for computing.">
	<meta name="theme-color" content="#ff7cc5">

	<meta property="og:site_name" content="Nova Vita">
	<meta property="og:title" content="Nova Vita">
	<meta property="og:description" content="A new life for computing.">
	<meta property=" og:url" content="https://novavita.github.io/">

	<meta property="og:image" content="https://novavita.github.io/assets/images/logo.png">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Nova Vita">
	
	<meta name="twitter:url" content="https://novavita.github.io/">
	
	<meta name="twitter:image" content="https://novavita.github.io/assets/images/logo.png">

	<link rel="canonical" href="https://novavita.github.io/">
</head>

<body>
	<div class="container">
		<div class="card">
			<img alt="" src="assets/images/logo.svg"/>
			<h1>Nova Vita</h1>
			<p>A new life for computing.</p>
		</div>
		<h2>About Nova Vita</h2>
		<p>Nova Vita is a free and open source operating system using the latest innovations in operating system and user experience design.</p>
		<h2>Components</h2>
		<div class="component">
			<img alt="" src="assets/images/novix.svg" class="component-image"/>
			<div class="component-body">
				<h3>Novix</h3>
				<p>Novix is the kernel of Nova Vita</p>
				<a class="button" href="https://github.com/novavita/Novix">Source Code</a>
				<a class="button" href="https://github.com/novavita/Novix/releases">Releases</a>
			</div>
		</div>
		<h2>Contribute!</h2>
		<ul class="list-unstyled">
			<li><a class="social-link" href="https://discord.gg/aeX2z7k">{% include icons/discord.svg %}Discord</a></li>
			<li><a class="social-link" href="https://github.com/novavita">{% include icons/github.svg %}GitHub</a></li>
		</ul>
		<footer class="footer">
			<span>&copy; 2020 Nova Vita Contributors</span>
			<a href="https://github.com/novavita/novavita.github.io">Source Code</a>
		</footer>
	</div>
</body>

</html>
