@import url('fonts/inter.css');

@media all {
  :root {
    --primary-background: #eef1f5;
    --primary-foreground: #000000;
    --secondary-background: #ffffff;
    --muted-foreground: #666666;
    --light-primary-foreground: #c42e81;
    --dark-primary-foreground: #9f2468;
    --light-primary-background: #ff7cc5;
    --dark-primary-background: #ff5bb6;
    --card-shadow: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-background: #333333;
    --primary-foreground: #ffffff;
    --secondary-background: #222222;
    --muted-foreground: #aaaaaa;
    --light-primary-foreground: #ff7cc5;
    --dark-primary-foreground: #ff5bb6;
    --light-primary-background: #ff7cc5;
    --dark-primary-background: #ff5bb6;
    --card-shadow: rgba(0, 0, 0, 0.5);
    --button-foreground: #000000;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  font-family: "Inter",sans-serif;
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: var(--light-primary-foreground);
  text-decoration: none;
}

a:hover {
  color: var(--dark-primary-foreground);
  text-decoration: underline;
}

.button, a.button {
  background-color: var(--light-primary-background);
  color: var(--button-foreground);
  padding: 0.375rem 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
  align-items: center;
  margin: 0 0.25rem 0.25rem 0;
}

.button:hover {
  background-color: var(--dark-primary-background);
  color: var(--button-foreground);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.social-link {
  display: inline-flex;
  align-items: center;
}

.social-link > * {
  margin-right: 0.125rem;
}

.container {
  max-width: 32rem;
  margin: auto;
  padding: 2rem;
}

.card {
  background-color: var(--secondary-background);
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.25rem 0.25rem 2rem var(--card-shadow);
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.card h1 {
  font-weight: 900;
  margin-bottom: 0.25rem;
}
.card p {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer {
  border-top: 1px solid var(--muted-foreground);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--muted-foreground);
}

.component {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.component-body {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.component-body h3 {
  margin-bottom: 0.25rem;
}

.component-body p {
  margin-bottom: 0.5rem;
}

svg {
  fill: currentColor;
}
